<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>Lab08</display-name>
  
  <servlet>
	   	<servlet-name>Lab08</servlet-name>
	   	<servlet-class>a00222500.lab08.Lab08</servlet-class>
	   	<init-param>
	   		<param-name>url</param-name>
	   		<param-value>jdbc:sqlserver://Beangrinder.bcit.ca</param-value>
	   	</init-param>
	   	<init-param>
	   		<param-name>driver</param-name>
	   		<param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
	   	</init-param>
	   	<init-param>
	   		<param-name>dbname</param-name>
	   		<param-value>jspweb</param-value>
	   	</init-param>
	   	<init-param>
	   		<param-name>username</param-name>
	   		<param-value>javastudent</param-value>
	   	</init-param>
	   	<init-param>
	   		<param-name>password</param-name>
	   		<param-value>compjava</param-value>
	   	</init-param>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>Lab08</servlet-name>
    	<url-pattern>/querydb</url-pattern>
  	</servlet-mapping>
  	
  	<!-- Servlet to logout the user. -->
  	<servlet>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>a00222500.lab08.Logout</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/logout</url-pattern>
  	</servlet-mapping>
  	
  	<!-- Turn off invoker. Send requests 
       to index.html. -->
	<servlet>
    	<servlet-name>NoInvoker</servlet-name>
    	<servlet-class>a00222500.lab08.NoInvokerServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>NoInvoker</servlet-name>
    	<url-pattern>/servlet/*</url-pattern>
  	</servlet-mapping>

	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>
  	
  	<context-param>
    	<param-name>outputPageTitle</param-name>
    	<param-value>COMP 3641 Lab08 Output Page</param-value>
  	</context-param>
  	
	<login-config>
    	<auth-method>FORM</auth-method>
    	<form-login-config>
      		<form-login-page>/admin/login.jsp</form-login-page>
      		<form-error-page>/admin/login-error.jsp</form-error-page>
    	</form-login-config>
  	</login-config>
  	
  	<security-role>
  		<role-name>user</role-name>
  	</security-role>
  	<security-role>
    	<role-name>guest</role-name>
  	</security-role>
	
	<security-constraint>
    	<web-resource-collection>
      		<web-resource-name>User Access</web-resource-name>
      		<url-pattern>/user.jsp</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
      		<role-name>user</role-name>
      		<role-name>guest</role-name>
    	</auth-constraint>
  	</security-constraint>	


</web-app>